#doctor-dropDown{
    text-align: center;
}
#card{
    width: 40%;
    margin: auto;
    min-width: 250px;
    padding: 10px;
}
#card button{
    width: 40%;
    margin: 10px;
}
#Docter-name{
    margin-bottom: 10px;
    font-size: 1.1em;
}
#model-header{
    background-color: purple;
    color: white;
    padding :11px;
}
#book-appointment-container{
    padding: 10px;
}
#demo-simple-select{
    width: 70px;
}
#from-btn{
    margin: 20px 0;
}
#docter-name-text{
    position: relative;
}
#booking-holder{
    width: 50vw;
}
#details-holder{
    padding: 10px;
}
.details-text{
    padding: 5px;
}